<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="traffic">

	<select id="rank" resultType="Traffic">
		SELECT content, cnt AS num FROM
		ranking ORDER BY num DESC;
	</select>

	<select id="time" resultType="Traffic">
		select time_h as num, COUNT(*) as
		content FROM (SELECT
		DATE_FORMAT(endTime, '%H') AS time_h
		FROM traffic <![CDATA[WHERE endTime >= curdate() and endTime < adddate(curdate(), 1)]]>)tmp
		GROUP
		BY time_h
	</select>

	<select id="search" parameterType="hashmap" resultType="Traffic">
		SELECT * FROM traffic <![CDATA[WHERE endTime >= #{start} and endTime <= #{end}]]>
	</select>

	<update id="rankUpdate">
		UPDATE ranking AS T1, (SELECT content, COUNT(*) AS
		cnt FROM traffic GROUP BY content) AS T2
		SET T1.cnt = T2.cnt
		WHERE T1.content = T2.content
	</update>

</mapper>